.desktop{
    width: 100%;
    height: 100%;
    padding: 2vw 3vw;
    overflow: hidden;
    position: relative;
}
.folder{
    width: 62px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;

}
.folder img{
    width: 60px;
    height: 60px;
}
.taskbar{
    width: 60%;
    height: 80px;
    background: #26292b58;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 0 8px;
    position: absolute;
    bottom: 10px;
    left: 22%;
    border-radius: 15px;
}
.app img{
    width: 60px;
    height: 60px;
    cursor: pointer
}
.app:hover{
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
}